@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
   
    margin: 0;
    padding: 0;
  
    background: #020617;
           
    overscroll-behavior: none; /* bounce block */
  }


  input::placeholder {
    color: #94A3B8;
    opacity: 1;
  }  

  @keyframes floatIcons {
    from { background-position: 0 0; }
    to { background-position: 100px 100px; }
  }
  
  @keyframes softBreeze {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }

  @keyframes joyfulFloat {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
  }
  
  @keyframes joyfulGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  
  @keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
  }
